@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

body {
	font-family: 'Spoqa Han Sans', 'Sans-serif'; 
	background-color: #fff;
	line-height: 1.3;

}

a {
	color: #495057;
	line-height: 1.3;
}

p {
	color: #495057;
}

header {
	z-index: 20000;
	width:100%;
	height: 6rem;
	position: fixed;
	top: 0;
	background:linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); 
}

nav {
	float: right;
}

hr {
	border-top: 1px solid #ccc; background: transparent;
}

img {
	vertical-align: bottom;
}

/*a {
	text-decoration:none;
	color: #343a40;

}*/

.title {
	text-decoration:none;
	color: #343a40;
	display: inline-block;
	height: 6rem;
	margin: 2rem 0 2rem 4rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: -0.08rem;

}

.title:hover {
	color: #364fc7;
	transition: all 0.4s;
}

.nav-items > li {
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
}

.nav-items > li > a {
	text-decoration:none;
	line-height: 6rem;
	padding: 0 4rem 0 2.5rem;
	color: #495057;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
	font-size: 1rem;
}

.nav-items > li > a:hover {
	color: #dee2e6;
	transition: all 0.2s;
}

.one {
	border-bottom: 0; margin-top: 3rem; margin-bottom: 3rem;
	border-color: #ced4da;
}

.two {
	border-bottom: 0; margin-bottom: 1rem;
	border-color: #ced4da;
}

.three {
	border-bottom: 0;
	border-color: #495057;
	width: 28%;
	margin-left: 0;
	margin-bottom: 1rem;
}

#content-wrap {
	margin: 16rem 4rem 4rem 4rem;
}

#content-wrap > #logo {
	margin-top: -6rem;
	padding-bottom: 7rem; 
	float: center;
	text-align: center;
	line-height: 1.4;
}

#content-wrap > #logo > h1 {
	letter-spacing: -0.09rem;
	font-weight: 700;
	font-size: 1.5rem;
}

#content-wrap > #logo > p {
	letter-spacing: -0.02rem;
	color: #adb5bd;
}

#intro {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 
	line-height: 1.4;
	font-color: #868e96;
}

/*article {
	height: 4rem;
	display: inline-block;
	margin-bottom: 1.5rem;
}*/

/*#pjs > article {
	background-color: gray;
	width: 92%;
	height: 20rem;
	display: inline-block;
	padding: 4%;
	margin:auto;
	
}
*/

section#pjs > a {
	color: #212529;
}

/*section#pjs img {
	width: 100%;
	overflow: hidden;

}
*/
article > h1 {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 600;
	font-color: #495057;
}

article > h2 {
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 400;
	font-color: #495057;
}

article > p {
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 400;
	font-color: #495057;
}



/*div.naver {
	background-image: url(img/naver/thumbnail.png);
	background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
	width: 92%;
	height: 20rem;
	display: inline-block;
	padding: 4%;
	margin-bottom: 1.5rem;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}*/

/*div.naver:hover {
	 -webkit-filter: brightness(110%) saturate(25%);
	 filter: brightness(110%) saturate(25%);
}*/

.naver {
	position: relative;
}

.mirae {
	position: relative;
}

.ascent {
	position: relative;
}

.ascent img {
	filter:brightness(160%);
}


.thumbnail-wrapper {
	width: 100%;
	height: 23.5rem;
	overflow: hidden;
}

.thumanail-wrapper img:hover {
	 -webkit-filter: brightness(110%) saturate(25%);
	 filter: brightness(110%) saturate(25%);
}

.text-wrapper {
	position: absolute;
	top: 2.5rem;
	left: 2rem;
}

#pjs {
	margin-bottom: 1.4rem;
}

#pjs img {
	max-width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#pjs img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	filter:brightness(110%) saturate(25%) blur(5px);
}

/*div.pj2 {
	background-image: url("https://webgradients.com/public/webgradients_png/032%20Sharpeye%20Eagle.png");
	background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
	width: 92%;
	height: 20rem;
	display: inline-block;
	padding: 4%;
	margin-bottom: 1.5rem;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

div.pj2:hover {
	 -webkit-filter: brightness(110%) saturate(25%);
	 filter: brightness(110%) saturate(25%);
}*/

footer {
	text-align: center;
	margin: 7rem 4rem 2rem 4rem;
	font-family: 'Ubuntu', sans-serif;
	font-color: blue;
	line-height: 1.4;
	/*background-color: blue;*/
}

/*-----------------about page*/

section#logo {
	color: #343a40;
	margin-bottom: -4rem;
}

section#about {
	margin-top : -2rem;
	margin-bottom: 14rem;
}

.about1 a:hover {
	color: #adb5bd;
	transition: all 0.3s
}

ul {
	list-style: none;
}

div.about1 {
	width: 40%;
	margin: 0 auto 5rem;
	word-break: break-all;
	line-height: 1.5;
}

div.skill {
	width: 49%;
	display: inline-block;

	line-height: 1.5;
}

section#about h1 {
	font-weight: 400;
	font-size: 1.2rem;
	color: #343a40;
}

div.skill ul {
	color:#adb5bd;
}

div.experience {
	width: 49%;
	display: inline-block;
	float: right;

	line-height: 1.5;
}

div.experience > ul {
	color: #343a40;
	font-weight: 400;
}

div.experience ul li {
	padding-left: 0.5rem;
	color: #adb5bd;
	font-weight: 400;
}

/*------------------project page*/

div#project-wrap {
	margin: 8rem 4rem 4rem 6rem;
	/*background-color: blue;*/
	width: 65%;
	background-color:rgba(255, 255, 255, .8);
	display: inline-block;
	z-index: 1000;
	position: relative;
	padding: 2rem;

}

#project-wrap section {
	margin-bottom: 5rem;
}

#text {
	line-height: 2rem;
	white-space: pre-wrap;
}

section.overlook {
	color: black;
/*	background-color: gray;*/
	width: 100%;
}

section#name {
	margin-bottom: 1rem;
}

.overlook h1 {
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.5;
}

.overlook h2 {
	color: #adb5bd;
	line-height: 1.5;
}

.overlook h2#title {
	color: #343a40;
	font-size: 1rem;
}

.imgcont {
	margin: 8rem 4rem 0 4rem;
	z-index: 1;
}

.imgcont img{
	width: 100%;
}

div#overview {
	width: 40rem;
	padding: 6rem;
	margin: auto;
	line-height: 1.8rem;
}

/*----------------media query start*/

@media screen and (max-width: 806px) {
	
/*	#wrap {
		}*/

	header {
		height: 4rem;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.09);
	
	}


	
	.title {
	display: inline-block;
	height: 4rem;
	margin: 1rem 0 0 1.2rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: -0.08rem;

	}

	nav {
		float: right;
		height: 4rem;
	}

	.nav-items > li > a {
		line-height: 4rem;
		font-size: 0.8rem;
		padding: 0 1.4rem 0 0.5rem;
	}
	
	#content-wrap {
	margin: 7rem 1.4rem 1.4rem 1.4rem;
}

	#content-wrap > #logo {
	margin-top: 1rem;
	padding-bottom: 7rem; 
	}

	#pjs {
	margin-bottom: 1rem;
	}

	#pjs img {
	max-width: 120%;
	/*height: auto;*/
	}

	.thumbnail-wrapper {
		width: 100%;
		height: 12rem;
		overflow: hidden;
	}


	.text-wrapper {
		position: absolute;
		top: 1.2rem;
		left: 1rem;
	}
	


/*	.thumbnail-wrapper img {
		width: 120%;
	}*/

	div.about1{
		width: 90%;
	}

	div.skill{
		margin-top: 3rem;
		display: block;
		width: 100%
	}
	div.experience{
		display: block;
		width: 100%;
		margin-top: 3rem;
		margin-bottom: 6rem;
	}

	div#project-wrap {
	margin: 6rem 1.4rem 1.4rem 1.4rem;
	width: 90%;
	display: inline-block;
	position: relative;
	padding: 0;
	}

	.imgcont {
	margin: 0;
	z-index: 1;
	display: block;
}

}

/*----------------media query end*/